body{
    background: linear-gradient(to right, #0582ca, #00a6fb);
}


* {
    margin: 0px;
}

.imagen_y_nombre {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.caja {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;

    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 30px;
    background: linear-gradient(to right, rgb(0, 183, 255), rgb(82, 173, 179), rgb(135, 153, 163));
}

.email {
    margin-top: 20px;
}

.contraseña {
    margin-top: 5px;
}

#user {
    width: 90%;
    font-size: 25px;
}

#contrasena {
    width: 90%;
    font-size: 25px;
}

#boton {
    font-size: 20px;
}

#Borrar {
    font-size: 20px;
}

.separación {
    display: flex;
    gap: 10px;
}

.caja_caja {
    background-color: azure;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
}

.registro {
    background-color: azure;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
}

#usuario {
    width: 90%;
    font-size: 25px;
}

#cont {
    width: 90%;
    font-size: 25px;
}

button {
    width: 90%;
    font-size: 20px;
}
.booton{
    width: 110%;
}